.desktop-1-child28,
.desktop-1-child29 {
  position: absolute;
  top: 82px;
  left: 0;
  background-color: var(--color-lemonchiffon);
  width: 1548px;
  height: 1524px;
}
.desktop-1-child29 {
  top: 770px;
  left: 923px;
  width: 350px;
  height: 505px;
}
.desktop-1-child30 {
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: var(--color-gray-100);
  width: 1550px;
  height: 72px;
}
.desktop-1-child31 {
  top: 772px;
  left: 990px;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 348px;
  height: 43px;
}
.desktop-1-child31,
.desktop-1-child32,
.desktop-1-child33 {
  position: absolute;
  background-color: var(--color-lemonchiffon);
}
.desktop-1-child32 {
  top: 815px;
  left: 990px;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 348px;
  height: 43px;
}
.desktop-1-child33 {
  top: 858px;
}
.desktop-1-child33,
.desktop-1-child34,
.desktop-1-child35 {
  left: 990px;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 348px;
  height: 43px;
}
.desktop-1-child34 {
  position: absolute;
  top: 901px;
  background-color: var(--color-lemonchiffon);
}
.desktop-1-child35 {
  top: 944px;
}
.desktop-1-child35,
.desktop-1-child36,
.desktop-1-child37 {
  position: absolute;
  background-color: var(--color-lemonchiffon);
}
.desktop-1-child36 {
  top: 987px;
  left: 990px;
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 348px;
  height: 43px;
}
.desktop-1-child37 {
  top: 1590px;
  left: 0;
  width: 1440px;
  height: 646px;
}
.more-emi-calculators1 {
  position: absolute;
  top: 785px;
  left: 1020px;
  font-weight: 600;
}
.desktop-1-child38 {
  position: absolute;
  top: 1627px;
  left: 0;
  width: 1440px;
  height: 0;
}
.desktop-1-child39,
.desktop-1-child40 {
  position: absolute;
  top: 19px;
  left: 533px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 440px;
  height: 43px;
}
.desktop-1-child40 {
  top: 14px;
  left: 1306px;
  background-color: var(--color-royalblue);
  width: 175px;
  height: 45px;
}
.home-calculator1,
.login-register1 {
  position: absolute;
  top: 32px;
  left: 1323px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--color-white);
}
.home-calculator1 {
  top: 102px;
  left: 160px;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray);
}
.car-loan1 {
  position: absolute;
  top: 151px;
  left: 166px;
  font-size: var(--font-size-9xl);
}
.desktop-1-child41,
.desktop-1-child42 {
  position: absolute;
  top: 200px;
  left: 990px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lemonchiffon);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 350px;
  height: 275px;
}
.desktop-1-child42 {
  top: 495px;
  left: 920px;
  border: 1px solid var(--color-darkgray-200);
  width: 351px;
  height: 213px;
}
.defaultsidebarb40891fd-1-icon1 {
  position: absolute;
  top: 221px;
  left: 1083px;
  width: 175px;
  height: 123px;
  overflow: hidden;
}
.what-is-the,
.what-is-the1 {
  position: absolute;
  top: 456px;
  left: 182px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
}
.what-is-the1 {
  top: 213px;
  left: 172px;
}
.text {
  position: absolute;
  top: 287px;
  left: 166px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
  display: inline-block;
  width: 671px;
  height: 290px;
}
.how-does-it {
  margin-bottom: 0;
}
.what-is-the-20410-rule-how {
  margin: 0;
  padding-left: var(--padding-xl);
}
.what-is-the-container {
  position: absolute;
  top: 258px;
  left: 178px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-dimgray);
  display: inline-block;
  width: 671px;
  height: 198px;
}
.this-rule-suggests {
  margin: 0;
}
.this-rule-suggests-container {
  position: absolute;
  top: 515px;
  left: 173px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  color: var(--color-dimgray);
  display: inline-block;
  width: 671px;
  height: 394px;
}
.desktop-1-child43,
.desktop-1-child44,
.desktop-1-child45,
.desktop-1-child46 {
  position: absolute;
  top: 615px;
  left: 403px;
  background-color: var(--color-lemonchiffon);
  width: 117px;
  height: 12px;
}
.desktop-1-child44,
.desktop-1-child45,
.desktop-1-child46 {
  top: 675px;
}
.desktop-1-child45,
.desktop-1-child46 {
  top: 737px;
  left: 402px;
}
.desktop-1-child46 {
  top: 796px;
}
.desktop-1-child47,
.desktop-1-child48,
.desktop-1-child49,
.desktop-1-child50,
.desktop-1-child51 {
  position: absolute;
  top: 513px;
  left: 990px;
  background-color: var(--color-lemonchiffon);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 348px;
  height: 43px;
}
.desktop-1-child48,
.desktop-1-child49,
.desktop-1-child50,
.desktop-1-child51 {
  top: 555px;
}
.desktop-1-child49,
.desktop-1-child50,
.desktop-1-child51 {
  top: 598px;
}
.desktop-1-child50,
.desktop-1-child51 {
  top: 641px;
}
.desktop-1-child51 {
  top: 684px;
}
.invest-the-way1,
.large-cap-funds1 {
  position: absolute;
  top: 827px;
  left: 1020px;
}
.invest-the-way1 {
  top: 358px;
  left: 1060px;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.small-cap-funds1 {
  position: absolute;
  top: 913px;
  left: 1019px;
}
.flexi-cap-funds1,
.multi-cap-funds1 {
  position: absolute;
  top: 954px;
  left: 1019px;
}
.flexi-cap-funds1 {
  top: 995px;
}
.emi-calculator2,
.popular-categories1 {
  position: absolute;
  top: 525px;
  left: 1019px;
  font-weight: 600;
}
.emi-calculator2 {
  top: 698px;
  font-weight: 500;
  color: var(--color-gray-100);
}
.mid-cap-funds1 {
  position: absolute;
  top: 871px;
  left: 1020px;
}
.bank-loans-at1,
.car-loan2,
.house-loan1 {
  position: absolute;
  top: 654px;
  left: 1019px;
  font-weight: 500;
  color: var(--color-gray-100);
}
.bank-loans-at1,
.house-loan1 {
  top: 613px;
}
.bank-loans-at1 {
  top: 567px;
  left: 1018px;
}
.join-millions-of1,
.what-are-you1 {
  position: absolute;
  font-size: var(--font-size-xs);
}
.join-millions-of1 {
  top: 389px;
  left: 1021px;
  font-weight: 600;
  color: var(--color-dimgray);
}
.what-are-you1 {
  top: 34px;
  left: 567px;
}
.magnifying-glass-solid-1-icon1 {
  position: absolute;
  top: 33px;
  left: 540px;
  width: 16px;
  height: 15px;
  overflow: hidden;
}
.desktop-1-child52 {
  position: absolute;
  top: 417px;
  left: 1021px;
  border-radius: var(--br-3xs);
  background-color: var(--color-royalblue);
  width: 274px;
  height: 38px;
}
.explore-products1 {
  position: absolute;
  top: 429px;
  left: 1098px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-white);
}
.logo-no-background-1-icon1 {
  position: absolute;
  top: 19px;
  left: 25px;
  width: 171px;
  height: 45px;
  object-fit: cover;
}
.desktop-1-child53 {
  position: absolute;
  top: 2318px;
  left: 160px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 372px;
  height: 56px;
}
.by-india-for1 {
  position: absolute;
  top: 2335px;
  left: 251px;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-arial);
  width: 208px;
  height: 31px;
}
.image-1-icon1 {
  position: absolute;
  top: 2334px;
  left: 192px;
  width: 41.3px;
  height: 24px;
  object-fit: cover;
}
.about-us1,
.about1,
.reviews1 {
  position: absolute;
  top: 2438px;
  left: 173px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-lavender);
  width: 81px;
  height: 28px;
  mix-blend-mode: normal;
}
.about-us1,
.reviews1 {
  top: 2500px;
  font-size: var(--font-size-lg);
}
.reviews1 {
  left: 438px;
}
.invance-business1,
.products1 {
  left: 703px;
  font-size: var(--font-size-lg);
}
.invance-business1 {
  position: absolute;
  top: 2500px;
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-lavender);
  width: 175px;
  height: 17px;
  mix-blend-mode: normal;
}
.products1 {
  top: 2552px;
  width: 81px;
}
.business-blogs1,
.help-centre1,
.log-in1,
.products1 {
  position: absolute;
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-lavender);
  height: 28px;
  mix-blend-mode: normal;
}
.business-blogs1 {
  top: 2604px;
  left: 703px;
  font-size: var(--font-size-lg);
  width: 153px;
}
.help-centre1,
.log-in1 {
  left: 438px;
}
.help-centre1 {
  top: 2552px;
  font-size: var(--font-size-lg);
  width: 123px;
}
.log-in1 {
  top: 2604px;
}
.contact1,
.log-in1,
.sign-up1 {
  font-size: var(--font-size-lg);
  width: 81px;
}
.sign-up1 {
  position: absolute;
  top: 2659px;
  left: 438px;
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-lavender);
  height: 28px;
  mix-blend-mode: normal;
}
.contact1 {
  top: 2552px;
  left: 172px;
}
.blog1,
.business1,
.community1,
.contact1,
.how-invance-works1,
.invance-inc-all1,
.socials1 {
  position: absolute;
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-lavender);
  height: 28px;
  mix-blend-mode: normal;
}
.how-invance-works1 {
  top: 2604px;
  left: 172px;
  font-size: var(--font-size-lg);
  width: 187px;
}
.blog1,
.business1,
.community1,
.invance-inc-all1,
.socials1 {
  top: 2906px;
  left: 165px;
  width: 436px;
}
.blog1,
.business1,
.community1,
.socials1 {
  top: 2656px;
  left: 173px;
  font-size: var(--font-size-lg);
  width: 81px;
}
.business1,
.community1,
.socials1 {
  top: 2438px;
  left: 438px;
  font-size: var(--font-size-3xl);
  width: 123px;
}
.business1,
.socials1 {
  left: 703px;
  width: 145px;
}
.socials1 {
  left: 990px;
}
.facebook-1-icon1,
.instagram-1-icon1,
.linkedin-1-icon1,
.x-twitter-1-icon1 {
  position: absolute;
  top: 2497px;
  left: 992px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.facebook-1-icon1,
.linkedin-1-icon1,
.x-twitter-1-icon1 {
  top: 2552px;
}
.linkedin-1-icon1,
.x-twitter-1-icon1 {
  top: 2605px;
}
.linkedin-1-icon1 {
  top: 2662px;
}
.thank-you-for1 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.thank-you-for-container1 {
  position: absolute;
  top: 2751px;
  left: 165px;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-arial);
  color: var(--color-white);
  width: 526px;
  height: 49px;
}
.how-the-20410 {
  position: absolute;
  top: 659px;
  left: 173px;
  font-size: var(--font-size-2xl);
  font-weight: 600;
}
.to-start-you-container {
  position: absolute;
  top: 722px;
  left: 173px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
  display: inline-block;
  width: 671px;
  height: 394px;
}
.desktop-1-child54 {
  position: absolute;
  top: 1079px;
  left: 158px;
  border-radius: var(--br-3xs);
  background-color: var(--color-lemonchiffon);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 740px;
  height: 473px;
}
.loan-amount1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.loan-amount-container,
.rate-of-interest4 {
  position: absolute;
  left: 198px;
  font-size: var(--font-size-base);
}
.loan-amount-container {
  top: 1155px;
  width: 100px;
  height: 19px;
}
.rate-of-interest4 {
  top: 1209px;
  font-weight: 500;
}
.desktop-1-child55,
.desktop-1-child56,
.desktop-1-child57 {
  position: absolute;
  top: 1209px;
  left: 435px;
  border-radius: var(--br-6xs);
  background-color: var(--color-lemonchiffon);
  border: 1.5px solid var(--color-black);
  box-sizing: border-box;
  width: 130px;
  height: 15px;
}
.desktop-1-child56,
.desktop-1-child57 {
  top: 1155px;
  left: 433px;
}
.desktop-1-child57 {
  top: 1273px;
  left: 435px;
}
.loan-tenure1 {
  position: absolute;
  top: 1264px;
  left: 198px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.monthly-emi1,
.principal-amount1,
.total-amount1,
.total-interest1 {
  position: absolute;
  top: 1336px;
  left: 198px;
  font-size: var(--font-size-mid);
  font-weight: 500;
}
.principal-amount1,
.total-amount1,
.total-interest1 {
  top: 1391px;
}
.total-amount1,
.total-interest1 {
  top: 1448px;
}
.total-amount1 {
  top: 1501px;
}
.desktop-12,
.emi-calculator3 {
  position: absolute;
  top: 1013px;
  left: 160px;
  font-size: var(--font-size-9xl);
}
.desktop-12 {
  top: 0;
  left: 0;
  background-color: var(--color-lemonchiffon);
  width: 1548px;
  height: 2250px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-2-child,
.desktop-2-item {
  position: absolute;
  top: 1619px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1573px;
  height: 673px;
}
.desktop-2-item {
  top: 1676px;
  left: 160px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 372px;
  height: 56px;
}
.by-india-for2 {
  position: absolute;
  top: 1693px;
  left: 251px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-black);
  width: 208px;
  height: 31px;
}
.image-1-icon2 {
  position: absolute;
  top: 1692px;
  left: 192px;
  width: 41.3px;
  height: 24px;
  object-fit: cover;
}
.about-us2,
.about2,
.reviews2 {
  position: absolute;
  left: 173px;
  display: inline-block;
  width: 81px;
  height: 28px;
  mix-blend-mode: normal;
}
.about2 {
  top: 1796px;
  font-size: var(--font-size-3xl);
}
.about-us2,
.reviews2 {
  top: 1858px;
}
.reviews2 {
  left: 438px;
}
.business-blogs2,
.contact2,
.help-centre2,
.invance-business2,
.log-in2,
.products2,
.sign-up2 {
  position: absolute;
  top: 1858px;
  left: 703px;
  display: inline-block;
  width: 175px;
  height: 17px;
  mix-blend-mode: normal;
}
.business-blogs2,
.contact2,
.help-centre2,
.log-in2,
.products2,
.sign-up2 {
  top: 1910px;
  width: 81px;
  height: 28px;
}
.business-blogs2,
.contact2,
.help-centre2,
.log-in2,
.sign-up2 {
  top: 1962px;
  width: 153px;
}
.contact2,
.help-centre2,
.log-in2,
.sign-up2 {
  top: 1910px;
  left: 438px;
  width: 123px;
}
.contact2,
.log-in2,
.sign-up2 {
  top: 1962px;
  width: 81px;
}
.contact2,
.sign-up2 {
  top: 2017px;
}
.contact2 {
  top: 1910px;
  left: 172px;
}
.how-invance-works2 {
  top: 1962px;
  left: 172px;
  width: 187px;
}
.blog2,
.business2,
.community2,
.how-invance-works2,
.invance-inc-all2,
.socials2 {
  position: absolute;
  display: inline-block;
  height: 28px;
  mix-blend-mode: normal;
}
.invance-inc-all2 {
  top: 2187px;
  left: 162px;
  font-size: var(--font-size-sm);
  width: 436px;
}
.blog2,
.business2,
.community2,
.socials2 {
  top: 2014px;
  left: 173px;
  width: 81px;
}
.business2,
.community2,
.socials2 {
  top: 1796px;
  left: 438px;
  font-size: var(--font-size-3xl);
  width: 123px;
}
.business2,
.socials2 {
  left: 703px;
  width: 145px;
}
.socials2 {
  left: 990px;
}
.facebook-1-icon2,
.instagram-1-icon2,
.linkedin-1-icon2,
.x-twitter-1-icon2 {
  position: absolute;
  top: 1855px;
  left: 992px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.facebook-1-icon2,
.linkedin-1-icon2,
.x-twitter-1-icon2 {
  top: 1910px;
}
.linkedin-1-icon2,
.x-twitter-1-icon2 {
  top: 1963px;
}
.linkedin-1-icon2 {
  top: 2020px;
}
.thank-you-for-container2 {
  position: absolute;
  top: 2093px;
  left: 172px;
  display: inline-block;
  color: var(--color-white);
  width: 526px;
  height: 49px;
}
.desktop-2 {
  position: relative;
  background-color: var(--color-lemonchiffon);
  width: 100%;
  height: 2292px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-lavender);
  font-family: var(--font-arial);
}
